/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: #2e3440;
  color: white;
  font-family: Cantarell, Noto Sans, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#backlight,
#disk,
#tray {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  margin: 2px 2px;
  margin-bottom: 4px;
  background: #242831;
  outline: none;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #ffb935;
}

#disk {
  color: #c277d4;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
  font-weight: bold;
  color: #70d1ef;
}

#cpu {
  /* No styles */
  color: #e1c28d;
}

#cpu.warning {
  color: orange;
}

#cpu.critical {
  color: red;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #95bc7b;
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#backlight {
  color: #67a1c5;
}

#mode {
  background: #64727d;
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#network {
  /* No styles */
}

#network.disconnected {
  color: orange;
}

#pulseaudio {
  /* No styles */
  color: #ff8888;
}

#pulseaudio.muted {
  /* No styles */
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#temperature {
  color: #e1c28d;
}

#temperature.critical {
  color: red;
}

#tray {
  /* No styles */
}

#window {
  font-weight: bold;
  margin-left: 20px;
  margin-right: 100px;
  font-size: 13px;
}

#workspaces {
  background: #242831;
  font-size: 12px;
  padding: 0 2px;
}

#workspaces button {
  border-top: 3px solid transparent;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ccc;
  font-family: "Jetbrains Mono";
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#workspaces button.focused {
  color: white;
  background-color: transparent;
}

#workspaces button.urgent {
  color: #c9545d;
}

#workspaces button:hover {
  background: none;
  color: white;
}
