@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  /*font-family: "otf-font-awesome", "JetBrainsMono Nerd Font";*/
  font-family: "otf-font-awesome", "FiraCode";
  font-size: 12px;
}

/* The whole bar */
#waybar {
  /* background: #30333d; */
  background: transparent;
  color: rgb(255, 255, 255);
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#backlight,
#disk,
#tray {
  padding: 0 10px;
  /*border-radius: 15px;*/
  /*margin: 2px 2px;*/
  /*margin-top: 3px;*/
  background: #292b34;
  outline: none;
  /*border-right: 1px solid gray;*/
}

#custom-files,
#custom-firefox,
#custom-code {
  margin: 0 5px;
}

/*
#network {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
*/

#tray {
  border: none;
  /*
  margin-right: 2px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
*/
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /*color: #ffb935;*/

  color: white;
}

#disk {
  /*color: #c277d4;*/

  color: white;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
  /*color: #70d1ef;*/

  color: white;
}

#cpu {
  /* No styles */
  /*color: #e1c28d;*/
  color: white;
}

#cpu.warning {
  color: orange;
}

#cpu.critical {
  color: red;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /*color: #95bc7b;*/
  color: white;
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#backlight {
  /*color: #67a1c5;*/

  color: white;
}

#mode {
  /*background: #64727d;*/
  background: black;
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#network {
  /* No styles */
}

#network.disconnected {
  /*color: orange;*/
  color: white;
}

#pulseaudio {
  /* No styles */
  /*color: #ff8888;*/

  color: white;
}

#pulseaudio.muted {
  /* No styles */
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#temperature {
  color: #e1c28d;
}

#temperature.critical {
  color: red;
}

#tray {
  /* No styles */
}

#window {
  margin-left: 20px;
  margin-right: 100px;
}

#workspaces {
  background: inherit;
  font-family: "JetBrains Mono";
  background: #292b34;
  padding: 1px;
  /*border-radius: 20px;
  margin-top: 2px;*/
}

#workspaces button {
  border-top: 3px solid transparent;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ccc;
  margin-bottom: 2px;
  /*border-right: 1px solid gray;*/
}

#workspaces button:last-child {
  border-right: none;
}

#workspaces button.focused {
  color: white;
  /*background: inherit;*/
  background: transparent;
}

#workspaces button.urgent {
  color: #c9545d;
}

#workspaces button:hover {
  /*background: gray;*/
  background: transparent;
  color: white;
}
